<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">

    <title>Document</title>
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="brand">
                <span>The</span>Cronos
            </div>
            <ul>
                <li class="nav-menu hidden">
                    <span class="nav-bar">
                        <i class="fa fa-bars"></i>
                    </span>
                </li>
                <div id="myLinks" class="menu">
                    <li class="nav-menu"><a href="">Home</a></li>
                    <li class="nav-menu"><a href="#our-services">Services</a></li>
                    <li class="nav-menu"><a href="">Contact Us</a></li>
                </div>
            </ul>
        </header>
        <section class="content">
            <h1>Life Changing</h1>
            <a class="button-red" href="">Start Now</a>
        </section>

        <section class="milestone">
            <div class="item">
                <div class="item-hover">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis, delectus.</p>
                    <a href="" class="btn-detail">View Details</a>
                </div>
                <h2>2000</h2>
                <p>Achievements</p>
            </div>
            <div class="item">
                <div class="item-hover">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis, delectus.</p>
                    <a href="" class="btn-detail">View Details</a>
                </div>
                <h2>200M+</h2>
                <P>Sold</P>
            </div>
            <div class="item">
                <div class="item-hover">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis, delectus.</p>
                    <a href="" class="btn-detail">View Details</a>
                </div>
                <h2>1.2K+</h2>
                <P>Curators</P>
            </div>
            <div class="item">
                <div class="item-hover">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis, delectus.</p>
                    <a href="" class="btn-detail">View Details</a>
                </div>
                <h2>4.5</h2>
                <p>Rating</p>
            </div>
        </section>
    </div>

    <div class="out-container">
        <h1 id="our-services">Our Services</h1>
        <section class="services">
            <div class="service">
                <img src="../img/service.jpg" alt="">
                <h2>Service 1</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, porro.</p>
            </div>
            <div class="service">
                <img src="../img/service.jpg" alt="">
                <h2>Service 2</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, porro.</p>
            </div>
            <div class="service">
                <img src="../img/service.jpg" alt="">
                <h2>Service 3</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, porro.</p>
            </div>
            <div class="service">
                <img src="../img/service.jpg" alt="">
                <h2>Service 4</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, porro.</p>
            </div>
            <div class="service">
                <img src="../img/service.jpg" alt="">
                <h2>Service 5</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, porro.</p>
            </div>
        </section>
    </div>
</body>

<script src="../js/script.js"></script>
</html>